---

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="nosotras | Editsandgo.">

<section class="sobre-nosotras">
  <div class="contenedor-nosotras">
    <div class="titulo-lateral-horizontal">
      <h2>
        Las personas<br><br>
        detr치s<br><br>
        de este proyecto.
      </h2>
    </div>

    <div class="contenedor-tarjetas">
      <div class="tarjeta">
        <img src="/imagenes/isa.jpg" alt="Isa" />
        <div class="contenido-tarjeta">
          <h3>Isa</h3>
          <p>Co-fundadora y mente creativa. Apasionada por la literatura contempor치nea, el dise침o limpio y los detalles bien cuidados.</p>
          <p class="dato-curioso">游닄 Libro favorito: <em>Ma침ana y ma침ana y ma침ana.</em></p>
        </div>
      </div>

      <div class="tarjeta">
        <img src="/imagenes/elo.jpg" alt="Elo" />
        <div class="contenido-tarjeta">
          <h3>Elo</h3>
          <p>Co-fundadora y correctora de alma. Su ojo cl칤nico y amor por el lenguaje dan vida a cada texto que pasa por sus manos.</p>
          <p class="dato-curioso">游눝 Libro favorito: <em>El imperio del vampiro.</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
</BaseLayout>











