---

import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="nosotras | Editsandgo.">

<section class="sobre-nosotras">
  <div class="contenedor-nosotras">
    <div class="titulo-lateral-horizontal">
      <h2>No venimos del marketing.<br>Venimos de los libros.</h2><br><br>
     <p>Somos editoras, correctoras y dise침adoras.</p>
      <p>Pero sobre todo somos lectoras voraces.</p>
      <p>Sabemos lo que hace que un libro funcione.</p>
      <p>Y lo que lo tira por tierra.</p>

      <p>Llevamos a침os leyendo y leyendo y corrigiendo hasta los mismos libros que leemos.</p>
      <p>Lo que nos apasiona es trabajar mano a mano con autores como t칰, que se han dejado la piel escribiendo.</p>

      <p>Aqu칤 no vas a encontrar plantillas, ni dise침os gen칠ricos, ni correcciones autom치ticas.</p>
      <p>Aqu칤 hay ojos entrenados, manos expertas y una honestidad radical.</p>

      <p>Tu libro merece estar bien hecho.</p>
      <p>Y t칰 mereces un equipo que te diga la verdad y te lleve hasta el final.</p>

      <h2>Tu escribes. Nosotras lo hacemos libro.</h2>
    </div>

    <div class="contenedor-tarjetas">
      <div class="tarjeta">
        <img src="/imagenes/isa.jpg" alt="Isa" />
        <div class="contenido-tarjeta">
          <h3>Isa</h3>
          <p>Co-fundadora y mente creativa. Apasionada por la literatura contempor치nea, el dise침o limpio y los detalles bien cuidados.</p>
          <p class="dato-curioso">游닄 Libro favorito: <em>Ma침ana y ma침ana y ma침ana.</em></p>
        </div>
      </div>

      <div class="tarjeta">
        <img src="/imagenes/elo.jpg" alt="Elo" />
        <div class="contenido-tarjeta">
          <h3>Elo</h3>
          <p>Co-fundadora y correctora de alma. Su ojo cl칤nico y amor por el lenguaje dan vida a cada texto que pasa por sus manos.</p>
          <p class="dato-curioso">游눝 Libro favorito: <em>El imperio del vampiro.</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
</BaseLayout>











